.Portfolio_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5rem;
}

.Portfolio_item {
    background-color: var(--colorBgVarient);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: .3s;
}

.Portfolio_item:hover {
    border-color: var(--colorPrimaryVarient);
    background-color: transparent
}

.Portfolio_item_img {
    border-radius: 1.5rem;
    overflow: hidden;
}

.Portfolio_item h3 {
    margin: 1.2rem 2rem;
}

.Portfolio_item_cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* =================== Media Quiry (Medium) ================= */
@media(max-width:1024px) {
    .Portfolio_container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem
    }


}

/* =================== Media Quiry (phones) ================= */
@media(max-width:600px) {
    .Portfolio_container {
        grid-template-columns: 1fr;
        gap: 1rem
    }

}