/* ******************** base styles********************** */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: 0;
    border: 0;
    transition: 0.4s
}

:root {
    --colorBg: #1f1f38;
    --colorBgVarient: #2c2c6c;
    --colorPrimary: #4db5ff;
    --colorPrimaryVarient: rgba(77, 181, 255, .4);
    --colorWhite: #fff;
    --colorLight: rgba(255, 255, 255, .6);

    --container_width_lg: 75%;
    --container_width_md: 86%;
    --container_width_sm: 90%;

    --transition: 0.3s;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    background-color: var(--colorBg);
    color: var(--colorWhite);
    line-height: 1.7;
    background-image: url("./assets/texture.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-size: cover;

}

/* ******************* General styles **************************** */
::-webkit-scrollbar {
    display: none
}

.container {
    width: var(--container_width_lg);
    margin: auto;

}

h1,
h2,
h3,
h4 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
}

section {
    margin-top: 8rem;
}



section>h2 {
    color: var(--colorPrimary);
    margin-bottom: .5rem;
    text-align: center;
}

.text_light {
    color: var(--colorLight);
    text-align: center;
    margin-bottom: 2rem;
}

a {
    color: var(--colorPrimary);
    transition: var(--transition);

}

a:hover {
    color: var(--colorWhite)
}

.outlineBtn {
    width: max-content;
    display: inline-block;
    color: var(--colorPrimary);
    padding: 0.75rem 1.2rem;
    border-radius: .4rem;
    cursor: pointer;
    border: 1px solid var(--colorPrimary);
    transition: var(--transition);

}

.outlineBtn:hover {
    background-color: var(--colorPrimary);
    color: black;
    border-color: transparent;
}


.stockBtn {
    background-color: var(--colorPrimary);
    color: var(--colorBg)
}

.stockBtn:hover {
    background-color: transparent;
    border: 1px solid var(--colorPrimary);
    color: var(--colorPrimary);
}



img {
    display: block;
    width: 100%;
    object-fit: cover;
}



/* ================ Medium Devices =========================*/
@media (max-width:1024px) {
    .container {
        width: var(--container_width_md);
    }

    section {
        margin-top: 6rem;
    }
}

/* ================ small Devices =========================*/
@media (max-width:600px) {
    .container {
        width: var(--container_width_sm);
    }

    section>h2 {
        margin-bottom: 2rem;
    }

    h1 {
        font-size: 1.7rem;
    }
}